<div class="centered-content">
    <div class="modal-box">
        <h1  class="title">Create Project</h1>
        <input #projectTitleInput class="input has-background-light" type="text" placeholder="Title"><br><br>
        <input #projectDescriptionInput class="input has-background-light" type="text" placeholder="Description">
        <br><br>
        <div class="buttons is-right">
            <button class="button" routerLink="/">Cancel</button>
            <button class="button is-primary" (click)="createProject(projectTitleInput.value, projectDescriptionInput.value)">Create</button>
        </div>
    </div>
    
</div>
